{% extends "_header.html" %}

<!--
    create password:
    password must contain:
        At least one upper-case letter
        At least one lower-case letter
        At least one number (0-9)
        At least one symbol (!@#$%^&*-_?)
        Must be 8 - 16 characters
-->
<!doctype html>
<html>

    {% block head %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='application.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='create_account.css') }}">
    {% endblock %}

    {% block content %}
        <h2 id="create-title">CREATE PASSWORD</h2>
        <form action="/" method="POST">
            <div class="password-container">
            <label id="input-label" for="pswrd">PASSWORD</label> 
            <input id="input-box" type="text" placeholder="Enter Password" required> <br>
            <label id="input-label" for="pswrd">CONFIRM</label> 
            <input id="input-box" type="text" placeholder="Confirm Password" required> <br>
            <button id="confirm-box" type="submit"><a href="{{ url_for('confirmation_page') }}">Confirm</a></button>
            </div>
        </form>
    {% endblock %}
</html>   